Package: com.eamontracey.tweakwithoutlogos
Name: TweakWithoutLogos
Version: 1.0
Architecture: iphoneos-arm
Description: Example substrate tweak built with Xcode autocompletion
Maintainer: Eamon Tracey
Author: Eamon Tracey
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
